

h2 {
  font-size: 32px;
  font-weight: bold;
}

header {
  width: calc( 100vw - (100vw - 100%));
  height: 100px;
  background-color: transparent;
  position: fixed;
  overflow: hidden;
  z-index: 100;
}

.hidden {
  display: none;
  opacity: 0;
}

a {
  text-decoration: none;
  color: white;
}

.header_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 104px;
}

.header_con > a {
  display: flex;
  align-items: center;
  height: 100%;
}

.header_menu_con {
  display: flex;
  gap: 48px;
  height: 100%;
}

.header_menu_con a {
  display: flex;
  align-items: center;
  height: 100%;
}




.menu_icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.menu_icon span {
  width: 22px;
  height: 2px;
  background-color: white;
}

.header_background {
  width: calc( 100vw - (100vw - 100%));
  height: 100vh;
  overflow: hidden;
  position: relative;
 


}

.main_video {
  width: calc( 100vw - (100vw - 100%));
  height: 100vh;
  object-fit: cover;
  display: block;
}



.header_background_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 88px;
  color: white;
  gap: 16px;
}

.header_background_con > h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.5;
}

.header_background_con > p {
  font-size: 24px;
  font-weight: 500;
  padding-top: 24px;
}

.welcome_explain {
  width: calc( 100vw - (100vw - 100%));
  height: 100vh;
}

.welcome_explain > h2 {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 75px;
}

.welcome_explain > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}

.welcome_explain_list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.welcome_explain_list figure {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 16px;
}

.welcome_explain_list figcaption {
  font-weight: 500;
}

.count_up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.count_up span {
  font-size: 56px;
}



.count_up p {
  color: #4b4a4a;
  font-weight: 600;
  opacity: 0.6;
  font-size: 14px;
}

.train_effect {
  width: calc( 100vw - (100vw - 100%));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  overflow: hidden;
}

.train_effect p {
  font-weight: bold;
  color: #ebba61;
  font-size: 256px;
}

.main_con {
  padding: 0 112px;
}

.main_con > h2 {
  line-height: 1.8;
  color: #222;
}

.ictservice_img {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.manage_img {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.information_nav > ul {
  display: flex;
}

.information_nav > ul> li:first-child {
  margin-top: 150px;
  width: 40%;
  background-color: pink;
}

.information_nav > ul> li:last-child {
  width: 60%;
  background-color: #ebba61;
}

.information_list h3 {
  color: #222;
  font-size: 24px;
  font-weight: bold;
}

.information_list p {
  color: #222;
}


